version: '3.5'
services:
  web:
    build: .
    ports:
      - 8080:8080
      - 5005:5005
    depends_on:
      - db
    environment:
      JAVA_OPTS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005
    networks:
      - postgres

  ui:
    container_name: react_ui
    build:
      context: ../pb-ui
      dockerfile: Dockerfile
    volumes:
      - ../pb-ui:/app
      - /app/node_modules
    ports:
      - 3000:3000
    environment:
      NODE_ENV: development
    networks:
      - postgres

  db:
    container_name: postgres
    image: postgres
    env_file:
      - db.properties
    volumes:
      - my_dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: always

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    volumes:
      - pgadmin:/root/.pgadmin
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    networks:
      - postgres
    restart: always

networks:
  postgres:
    driver: bridge

volumes:
  my_dbdata: {}
  pgadmin: {}

